/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top bar
4. CIPHER INFORMATION
5. CIPHER AREA
6. CIPHER STEPS
7. Responsive
	7.1. 768px
	7.2. 576px
	7.3. 480px
	7.4. 320px

******************************/

/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Exo|Amatic+SC|Dosis');

/*********************************
2. Body and some general stuff
*********************************/
*{
	margin: 0;
	padding: 0;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #fefdb9;
	color: #494646;
}
div{
	display: block;
	position: relative;
    box-sizing: border-box;
}
a, a:hover, a:visited, a:active, a:link{
	text-decoration: none;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
#root{
	width: 100%;
	overflow: hidden;
}
p{
	text-align: justify;
}
.row{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px;
}
.col{
	position:relative;
    width:100%;
    min-height:1px;
	padding: auto 15px;
}
.col-4{
	-ms-flex:0 0 25%;
	flex:0 0 25%;
	max-width:25%;
}
.text-center{
	text-align:center!important;
}
.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.button{
	margin-top: 39px;
}
.button{
	width: 180px;
	height: 65px;
	background: #c3bb16;
	text-align: center;
	cursor:pointer; 
	cursor: hand;
	border-radius: 5px;
}
.button a{
	display: block;
	position: relative;
	line-height: 65px;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	z-index: 1;
	transition: all 300ms ease;
	border-radius: 5px;
}
.button a::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50%;
	height: 100%;
	background: #FFFFFF;
	content: '';
	opacity: 0;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	z-index: -1;
	border-radius: 5px;
}
.button:hover a::after
{
	width: 100%;
	opacity: 1;
	border-radius: 5px;
}
.button:hover a
{
	color: #4a819b;
	border-radius: 5px;
}

/*********************************
3. Header
*********************************/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

/*********************************
3.1 Top bar
*********************************/
.topBar{
    background: #4a819b;
    width: 100%;
	height: 86px;
}
.logoContainer{
	transform: translateY(12px);
}
.logo{
	padding-left: 63px;
}
.logoLine1{
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	line-height: 0.75;
	letter-spacing: 0.02em;
	text-transform: uppercase;
    color: #f5f9fa;
	padding-top: 15px;
	cursor:pointer; 
	cursor: hand;
}
.logoLine1 span{
	color:  #c3bb16;
	font-weight: bold;
}

/*********************************
4 CIPHER INFORMATION
*********************************/
.cipherInformation
{
	padding: 6%;
	background: #fefdb9;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin: 86px -15px;
}
.col-2{
	position:relative;
	width:100%;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	max-width:50%;
}
.informationImage{
	max-width: 83%;
	margin-right: 66px;
	text-align:right!important;
	text-align:center!important;
	margin-left: 18%;
}
.informationImage2{
	display: none;
}
.informationImage img{
	max-width: 83%;
}
.title, .cipherTitleContainer{
	font-family: 'Amatic SC', cursive;
	color: #212121;
	margin-top: -1px;
}
.title{
	font-size: 50px;
}
.subtitle{
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #a5a5a5;
	padding-left: 6px;
	padding-top: 30px;
}
.subtitle::after{
	display: block;
	position: absolute;
	top: 0;
	left: 5px;
	width: 68px;
	height: 3px;
	background: #c3bb16;
	content: '';
}
.informationText{
	margin: 32px 2% 0 0;
	font-size: 25px;
}
.informationText p:last-of-type{
	margin-bottom: 0;
}
.informationContent{
	padding-right: 10px;
}

/*********************************
5 CIPHER AREA
*********************************/

.cipherArea{
	background-color: #fefdb9;
	color: #11100e;
	width: 70%;
	text-align: center;
	margin: 86px auto;
	padding: 6%;
	padding-bottom: 0;
	margin-bottom: 2%;
}
label {
	display: inline-block;
    text-align: left;
}
input, textarea {
	font-family: 'Exo', sans-serif;
    font: 1em;
    box-sizing: border-box;
	color: #ffffff;
	background-color: #4a819b;
	border: none;
	border-radius: 5px;
	display: block;
	margin: 9px auto 0 auto;
	padding: 5px;
}
input{
	width: 90px;
}
input:focus{
	border-color: #000000;
}
textarea{
	vertical-align: top;
	height: 5em;
	resize: vertical;
	width: 100%;
}
#buttonEncode, #buttonDecode, #buttonCopyText, #buttonOpenSteps, #buttonCloseSteps{
	display: inline-block !important;
	text-align: center !important;
}
.introducingText, .introducingNumber, .cipherText{
	text-align: left;
	margin: 3% 0;
	font-size: 20px;
}
.buttonsContainer, .stepsButtons{
	display: inline-block !important;
	text-align: center !important;
}
#intruction{
	text-align: center !important;
}
.stepsButtons{
	margin-top: 10%;
}
#buttonOpenSteps, #buttonCloseSteps{
	background-color: #4a819b;
}
#buttonOpenSteps:hover a, #buttonCloseSteps:hover a{
	color: #c3bb16;
}

/*********************************
5 CIPHER STEPS
*********************************/
.cipherSteps{
	margin: 0 -15px 6% -15px;
	background: #fefdb9;
}
.cipherTitleContainer{
	width: 100%;
	text-align: center;
}
.cipherTitleContainer .subtitle::after{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 68px;
	height: 3px;
	content: '';
}
.cipherStepsRow{
	margin-top: 79px;
	padding-left: 6%;
	padding-right: 6%;
}
.cipherStepsImage{
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.cipherStepsImage img{
	max-width: 100%;
}
.cipherStepsTitle{
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	color: #212121;
	margin-top: 11px;
}
.cipherStepsText{
	margin-top: 32px;
	font-size: 23px;
}
.cipherStepsText p:last-of-type{
	margin-bottom: 0;
}
.cipherSteps .stepsButtons{
	width: 100%;
	text-align: center;
	margin-top: 2%;
}
.cipherStepsItem{
	margin: 4%;
}


/*********************************
7. Responsive
*********************************/

/*********************************
7.1. 768px
*********************************/
@media only screen and (max-width: 768px)
{
	.logo
	{
		padding-left: 55px;
	}
	.logoLine1
	{
		font-size: 40px;
	}
	.cipherInformation, .cipherInformation{
		margin-top: 86px;
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.cipherSteps{
		margin-top: 5%;
		margin-left: 0;
		margin-right: 0;
	}
	.cipherStepsText{
		padding: 0 10%;
	}
	.cipherStepsText, .introducingText, textarea, #cipherNumber, .button, .cipherText{
		font-size: 16px;
	}
	.subtitle{
		font-size: 22px;
	}
	.title{
		font-size: 40px;
	}
	.cipherStepsTitle{
		font-size: 25px;
	}
	.informationText{
		font-size: 18px;
	}
}

/*********************************
7.2. 576px
*********************************/
@media only screen and (max-width: 576px)
{
	p{
		font-size: 14px;
	}
	h1, .section_title{
		font-size: 28px;
	}
	.logo{
		text-align: center;
		padding-left: 0; 
	}
	.logoLine1{
		font-size: 35px;
	}
	.link_button{
		width: 180px;
		height: 40px;
	}
	.informationImage{
		display: none;
	}
	.informationImage2{
		display: inline-block;
		margin: 5px;
		width: 12%;
		height: 70px;
	}
	.informationImage2 img{
		width: 70px;
		height: 70px;
	}
	.button a{
		font-size: 13px;
		line-height: 65px;
	}
	.titleContainer, .cipherTitleContainer{
		display: inline-block;
		width: 82%;
	}
	.subtitle{
		font-size: 13px;
		padding-left: 1px;
		text-align: right !important;
	}
	.subtitle::after{
		left: 84%;
	}
	.cipherInformation{
		display: inline-block;
		margin-top: 86px;
		padding-top: 3%;
	}
	.cipherSteps{
		display: inline-block;
		padding: 0 6%;
		margin-top: 0;
	}
	.col-2{
		
		flex: 0;
		max-width: 100%;
		text-align: right !important;
	}
	.button{	
		margin-left: 15%;
		width: 70%;
		font-size: 14px;
	}
	.col{
		text-align: right !important;
	}
	.cipherStepsRow {

		margin-top: 70px;
		display: block;
	}
	.col-4{
		max-width: 100%;
		margin-top: 7%;
	}
	.cipherArea{
		display: inline-block;
		margin-top: 15% auto;
		width: 100%;
		padding: 6% auto;
		padding-bottom: 0;
		margin-bottom: 6%;
	}
	.button{
		height: 50px;
	}
	.button a{
		line-height: 50px;
		font-size: 20px;
	}
	.buttonsContainer, .stepsButtons{
		width: 100%;
	}
	#buttonEncode, #buttonDecode, #buttonCopyText, #buttonOpenSteps, #buttonCloseSteps{
		width: 32%;
		margin: 0;
		font-size: 14px;
	}
	.copyText{
		text-align: center;
	}
	.cipherTitleContainer{
		text-align: right;
	}
	.cipherTitleContainer .subtitle::after{
		left: 92%;
	}
	textarea, #cipherNumber{
		font-size: 11px;
	}
	.cipherStepsImage, .cipherStepsTitle{
		display: inline-block;
	}
	.cipherStepsImage{
		width: 30px;
		height: 30px;
	}
	.cipherStepsText p, .informationText p{
		font-size: 20px;
	}
}

/*********************************
7.2. 480px
*********************************/
@media only screen and (max-width: 480px){
	#buttonOpenSteps, #buttonCloseSteps{
		width: 40%;
	}
	.logoLine1{
		font-size: 30px;
	}
	.topBar{
		height: 70px;
	}
	.subtitle::after{
		left: 81%;
	}
	.informationImage2{
		height: 56px;
	}
	.informationImage2 img{
		width: 56px;
		height: 56px;
	}
	.cipherTitleContainer .subtitle::after{
		left: 90%;
	}
	.cipherInformation, .cipherArea{
		margin-top: 70px;
	}
}


/*********************************
7.2. 320px
*********************************/
@media only screen and (max-width: 320px){
	body{
		font-size: 12px;
	}
	.title {
		font-size: 30px;
	}
	p, .subtitle{
		font-size: 14px;
	}
	.logo{
		padding: 0%;
		text-align: center;
	}
	.logoLine1{
		font-size: 28px;
	}
	.topBar{
		height: 77px;
	}
	.button{
		height: 35px;
		
	}
	.button a{
		line-height: 35px;
		font-size: 13px;
	}
	#buttonCopyText{
		width: 50%;
	}
	.subtitle::after{
		left: 72%;
	}
	.cipherTitleContainer .subtitle::after{
		left: 86%;
	}
	textarea, #cipherNumber{
		font-size: 13px;
	}
	.informationText p, .cipherStepsText p{
		font-size: 18px;
	}
	.cipherStepsTitle{
		font-size: 23px;
	}
	.cipherInformation, .cipherArea{
		margin-top: 77px;
	}
	.col{
		padding-left: 15px;
		padding-right: 15px;
	}
}
