/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top bar
4. CIPHER INFORMATION
5. CIPHER STEPS
6. CIPHER AREA
7. Responsive
	7.1.
	7.2.
	7.3.

******************************/

/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Exo|Amatic+SC');

/*********************************
2. Body and some general stuff
*********************************/

*{
	margin: 0;
	padding: 0;
	/*-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;*/
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body{
	font-family: 'Amatic SC', cursive;
	font-size: 14px;
	font-weight: 400;
	background: #fefdb9;
	color: #494646;
}
div{
	display: block;
	position: relative;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    box-sizing: border-box;
}
a, a:hover, a:visited, a:active, a:link{
	text-decoration: none;
	/*-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;*/
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
#root{
	width: 100%;
	overflow: hidden;
}
p{
	text-align: justify;
}
.row{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px;
}
.col{
	position:relative;
    width:100%;
    min-height:1px;
	padding: auto 15px;
}
.col-4{
	-ms-flex:0 0 25%;
	flex:0 0 25%;
	max-width:25%;
}
.text-center{
	text-align:center!important;
}
.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.button{
	margin-top: 39px;
}
.button{
	width: 180px;
	height: 65px;
	background: #f3e927;
	text-align: center;
	cursor:pointer; 
	cursor: hand;
	border-radius: 5px;
}
.button a{
	display: block;
	position: relative;
	line-height: 65px;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	z-index: 1;
	transition: all 300ms ease;
	border-radius: 5px;
}
.button a::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50%;
	height: 100%;
	background: #FFFFFF;
	content: '';
	opacity: 0;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	z-index: -1;
	border-radius: 5px;
}
.button:hover a::after
{
	width: 100%;
	opacity: 1;
	border-radius: 5px;
}
.button:hover a
{
	color: #4a819b;
	border-radius: 5px;
}

/*********************************
3. Header
*********************************/

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

/*********************************
3.1 Top bar
*********************************/

.top_bar{
    background: #4a819b;
    width: 100%;
	height: 86px;
}
.logo_container{
	transform: translateY(12px);
}
.logo{
	padding-left: 63px;
}
.logo_line_1{
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	line-height: 0.75;
	letter-spacing: 0.02em;
	text-transform: uppercase;
    color: #f5f9fa;
	padding-top: 15px;
	cursor:pointer; 
	cursor: hand;
}
.logo_line_1 span{
	color:  #f3e927;
	font-weight: bold;
}

/*********************************
4 CIPHER INFORMATION
*********************************/
.cipher_information
{
	padding: 6%;
	background: #fefdb9;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin: 86px -15px;
}
.col-2{
	position:relative;
	width:100%;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	-ms-flex:0 0 50%;
	flex:0 0 50%;
	max-width:50%;
}
.information_image{
	max-width: 83%;
	margin-right: 66px;
	text-align:right!important;
	text-align:center!important;
	margin-left: 18%;
}
.information_image2{
	display: none;
}
.information_image img{
	max-width: 83%;
}
.information_title, .section_title_container{
	font-family: 'Amatic SC', cursive;
	color: #212121;
	margin-top: -1px;
}
.information_title{
	font-size: 50px;
}
.information_subtitle{
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #a5a5a5;
	padding-left: 6px;
	padding-top: 30px;
}
.information_subtitle::after{
	display: block;
	position: absolute;
	top: 0;
	left: 5px;
	width: 68px;
	height: 3px;
	background: #f3e927;
	content: '';
}
.information_text{
	margin: 32px 2% 0 0;
	font-size: 20px;
}
.information_text p:last-of-type{
	margin-bottom: 0;
}
.information_content{
	padding-right: 10px;
}

/*********************************
5 CIPHER STEPS
*********************************/

.cipher_steps{
	margin: 0 -15px 6% -15px;
	background: #fefdb9;
}
.section_title_container{
	width: 100%;
	text-align: center;
}
.section_title_container .information_subtitle::after{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 68px;
	height: 3px;
	content: '';
}
.cipher_steps_row{
	margin-top: 79px;
}
.cipher_steps_image{
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.cipher_steps_image img{
	max-width: 100%;
}
.cipher_steps_title{
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	color: #212121;
	margin-top: 11px;
}
.cipher_steps_text{
	margin-top: 32px;
	font-size: 20px;
	padding: 0 5%;
}
.cipher_steps_text p:last-of-type{
	margin-bottom: 0;
}

/*********************************
6 CIPHER AREA
*********************************/

.father_container{
	background-color: #fefdb9;
	color: #11100e;
	width: 70%;
	text-align: center;
	margin: 86px auto;
	padding: 6%;
	padding-bottom: 0;
	margin-bottom: 2%;
}
label {
	display: inline-block;
    text-align: left;
}
input, textarea {
	font-family: 'Exo', sans-serif;
    font: 1em;
    box-sizing: border-box;
	color: #ffffff;
	background-color: #4a819b;
	border: none;
	border-radius: 5px;
	display: block;
	margin: 9px auto 0 auto;
	padding: 5px;
}
input{
	width: 90px;
}
input:focus{
	border-color: #000000;
}
textarea{
	vertical-align: top;
	height: 5em;
	resize: vertical;
	width: 100%;
}
#buttonEncode, #buttonDecode, #buttonCopyText, #buttonOpenSteps, #buttonCloseSteps{
	display: inline-block !important;
	text-align: center !important;
}
.introducing_text, .introducing_number, .cipher_text{
	text-align: left;
	margin: 3% 0;
	font-size: 20px;
}
.information_buttons, .steps_buttons{
	display: inline-block !important;
	text-align: center !important;
}
#intruction{
	text-align: center !important;
}
.steps_buttons{
	margin-top: 10%;
}
#buttonOpenSteps, #buttonCloseSteps{
	background-color: #4a819b;
}
#buttonOpenSteps:hover a, #buttonCloseSteps:hover a{
	color: #f3e927;
}

/*********************************
7. Responsive
*********************************/

/*********************************
7.1. 768px
*********************************/

@media only screen and (max-width: 768px)
{
	.logo
	{
		padding-left: 55px;
	}
	.logo_line_1
	{
		font-size: 40px;
	}
	.cipher_information, .cipher_information{
		margin-top: 86px;
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.cipher_steps{
		margin-top: 5%;
		margin-left: 0;
		margin-right: 0;
	}
	.information_subtitle, .cipher_steps_text, .introducing_text, textarea, #shift, .button, .cipher_text{
		font-size: 18px;
	}
	.information_title{
		font-size: 40px;
	}
	.cipher_steps_title{
		font-size: 25px;
	}
}

/*********************************
7.2. 576px
*********************************/

@media only screen and (max-width: 576px)
{
	p{
		font-size: 14px;
	}
	h1, .section_title{
		font-size: 28px;
	}
	.logo{
		text-align: center;
		padding-left: 0; 
	}
	.logo_line_1{
		font-size: 35px;
	}
	.link_button{
		width: 180px;
		height: 40px;
	}
	.information_image{
		display: none;
	}
	.information_image2{
		display: inline-block;
		margin: 5px;
		width: 12%;
		height: 70px;
	}
	.information_image2 img{
		width: 70px;
		height: 70px;
	}
	.button a{
		font-size: 13px;
		line-height: 65px;
	}
	.information_title_container, .section_title_container{
		display: inline-block;
		width: 82%;
	}
	.information_subtitle{
		font-size: 13px;
		padding-left: 1px;
		text-align: right !important;
	}
	.information_subtitle::after{
		left: 84%;
	}
	.cipher_information{
		display: inline-block;
		margin-top: 86px;
		padding-top: 3%;
	}
	.cipher_steps{
		display: inline-block;
		padding: 0 6%;
		margin-top: 0;
	}
	.col-2{
		
		flex: 0;
		max-width: 100%;
		text-align: right !important;
	}
	.button{	
		margin-left: 15%;
		width: 70%;
		font-size: 14px;
	}
	.col{
		text-align: right !important;
	}
	.cipher_steps_row {

		margin-top: 70px;
		display: block;
	}
	.col-4{
		max-width: 100%;
		margin-top: 7%;
	}
	.father_container{
		display: inline-block;
		margin-top: 15% auto;
		width: 100%;
		padding: 6% auto;
		padding-bottom: 0;
		margin-bottom: 6%;
	}
	.button{
		height: 50px;
	}
	.button a{
		line-height: 50px;
		font-size: 20px;
	}
	.information_buttons, .steps_buttons{
		width: 100%;
	}
	#buttonEncode, #buttonDecode, #buttonCopyText, #buttonOpenSteps, #buttonCloseSteps{
		width: 32%;
		margin: 0;
		font-size: 14px;
	}
	.copy_text{
		text-align: center;
	}
	.section_title_container{
		text-align: right;
	}
	.section_title_container .information_subtitle::after{
		left: 92%;
	}
	textarea, #shift{
		font-size: 11px;
	}
	.cipher_steps_image, .cipher_steps_title{
		display: inline-block;
	}
	.cipher_steps_image{
		width: 30px;
		height: 30px;
	}
	.cipher_steps_text p, .information_text p{
		font-size: 20px;
	}
}

/*********************************
7.2. 480px
*********************************/

@media only screen and (max-width: 480px){
	#buttonOpenSteps, #buttonCloseSteps{
		width: 40%;
	}
	.logo_line_1{
		font-size: 30px;
	}
	.top_bar{
		height: 70px;
	}
	.information_subtitle::after{
		left: 81%;
	}
	.information_image2{
		height: 56px;
	}
	.information_image2 img{
		width: 56px;
		height: 56px;
	}
	.section_title_container .information_subtitle::after{
		left: 90%;
	}
	.cipher_information, .father_container{
		margin-top: 70px;
	}
}


/*********************************
7.2. 320px
*********************************/

@media only screen and (max-width: 320px){
	body{
		font-size: 12px;
	}
	.information_title {
		font-size: 30px;
	}
	p, .information_subtitle{
		font-size: 14px;
	}
	.logo{
		padding: 0%;
		text-align: center;
	}
	.logo_line_1{
		font-size: 28px;
	}
	.top_bar{
		height: 77px;
	}
	.button{
		height: 35px;
		
	}
	.button a{
		line-height: 35px;
		font-size: 13px;
	}
	#buttonCopyText{
		width: 50%;
	}
	.information_subtitle::after{
		left: 72%;
	}
	.section_title_container .information_subtitle::after{
		left: 86%;
	}
	textarea, #shift{
		font-size: 13px;
	}
	.information_text p, .cipher_steps_text p{
		font-size: 18px;
	}
	.cipher_steps_title{
		font-size: 23px;
	}
	.cipher_information, .father_container{
		margin-top: 77px;
	}
	.col{
		padding-left: 15px;
		padding-right: 15px;
	}
}
